#navbar{
    display: inline-block;
    background-color: rgba(0,0,0,.5);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

#banner {
    text-shadow: 0 0.05rem .1rem rgba(0,0,0,.5);
    background-image: url("../image/bg-img-1-darkened.jpg");
    background-size: cover;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    padding-top: 130px;
    height: 300px;
    position: relative;
}

#headerimage1 {
    text-shadow: 0 0.1rem .1rem rgba(0,0,0,.5);
    background-image: url("../image/thousand-inch-cats.jpg");
    background-size: cover;
    align-items: center;
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}
.comment-text:hover{
    visibility: hidden;
}
.comment-text:hover{
    visibility: visible;
}

.round img {
    border-radius: 100%;
}

.category-image-holder {
    position: relative;
    overflow:hidden;
    opacity: 1;
    transition: opacity 1s;
}

.category-title {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-shadow: 0 0.1rem .1rem rgba(0,0,0,.5);
}

.category-image-holder:hover {
    opacity: 0.7;
    transition: opacity 1s;
    overflow: hidden;
}

.footer-links {
    color: white;
    font-weight: 600;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    text-decoration: none;
    color: #007bff;
}